
:root {
    --primary-color: #bababa;
    --secondary-color: #8d8d8d;
    --tertiary-color: #a6cbeb;
    --accent1: #4c96d7;
    --accent2: #3a3a3a;
    --accent3: #ffffff;

    --border-curve: 10px;
}

h1, h2, h3, h4, h5, h6, th {
    font-family: 'Courier New', Courier, monospace;
}
p, a, li, b, label, input, button, td {
    font-family: monospace;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
span {
    font-family: monospace;
    color: var(--accent2);
}

html {
    background-image: url("../images/site/checkerboard.jpg");
}
#wrapper {
    background-color: var(--accent3);
    border: 3px solid var(--accent1);
    border-radius: var(--border-curve) var(--border-curve) var(--border-curve) var(--border-curve);
    overflow: hidden;
    max-width: 1750px;
    margin: 0 auto;
    padding: 5px;
}

.notice {
    /* color: red; */
    font-size: 1.2em;
    font-style: italic;
    grid-column: 1 / -1;
    align-self: center;
    justify-self: center;
}

/* Header styles */
header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

}
#logoImg {
    grid-row: 1;
    grid-column: 1;
}
#accountLink {
    grid-row: 1;
    color: black;
    grid-column: 3;
    align-self: center;
    justify-self: center;
    font-size: 1.1em;
}
#accountLink:hover {
    color: black;
    background-color: var(--accent3)
}
#searchBox {
    grid-row: 1;
}

/* main content styles */
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
h1 {
    grid-row: 2;
    grid-column: 1 / -1;
}
#bannerImgDelorean {
    grid-column: 1 / -1;
    grid-row: 3;
    width: 100%;
}
#floatingOrderBox {
    grid-column: 1 / 2;
    grid-row: 3;
    z-index: 3;
    margin-left: 2em;
    max-height: 150px;
    max-width: 150px;
    background-color: rgba(255, 255, 255, .50);
}
#floatingOrderBox ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    color: var(--accent1);
}
#own_today{
    max-width: 140px;
}

/* Navigation bar styles */
nav {
    grid-row: 1;
    grid-column: 1 / -1;
    background-color: var(--accent2);
    text-align: center;
    font-size: 1.2em;
}
#navul {
    list-style-type: none;
    background-color: var(--accent2);
    display: flex;
    padding-inline-start: 0px;
}
nav a {
    color: var(--accent3);
    padding: 1em .5em 1em .5em;
}
li {
    font-size: 1.15em;
}
a:hover {
    background-color: var(--accent1);
    color: black;
}

#upgrades {
    grid-column: 1 / -1;
}
#upgrades_list {
    grid-column: 1 / -1;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    align-items: center;
    justify-items: center;
}
.upgradesImg {
    background-color: var(--accent1);
    width: 90%;
    height: 100%;
    text-align: center;
    border: 1px solid var(--accent2);
}
#fluxCapImg {
    grid-column: 1;
    grid-row: 1;
}
#flameDecImg {
    grid-column: 2;
    grid-row: 1;
}
#bumperStickerImg {
    grid-column: 1;
    grid-row: 3;
}
#hubCapImg {
    grid-column: 2;
    grid-row: 3
}
.upgradesLabel {
    margin-bottom: 5px;
    text-decoration: underline;
}
#fluxLabel {
    grid-column: 1;
    grid-row: 2;
}
#flameLabel {
    grid-column: 2;
    grid-row: 2;
}
#bumpLabel {
    grid-column: 1;
    grid-row: 4;
}
#hubLabel {
    grid-column: 2;
    grid-row: 4;
}

#reviews, #review_list {
    grid-column: 1 / -1;
}

#upgradesDiv {
    grid-column: 1;
}
#reviewsDiv {
    grid-column: 2;
}
/* Footer styles */
footer {
    grid-column: 1 / -1;
    border-top: 3px solid var(--accent2);
}
footer p{
    text-align: center;
}

/* Form styles */
form {
    grid-column: 1 / -1;
    align-self: center;
    justify-self: center;

    display: grid;
    grid-template-columns: 1fr;
    
    max-width: 75%;
    padding: 20px;
    border: 3px solid var(--accent2);
    border-radius: 10px 10px 10px 10px;
    background-color: var(--tertiary-color);
}
input, label {
    height: 1.5em;
}
#deleteVehicleForm{
    align-content: center;
    justify-items: center;
}

#inv-display{
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
}
#inv-display h2{
    font-size: 1rem;
}
#inv-display li {
    border: 1px solid var(--primary-color);
    max-width: 200px;
    flex: 1 0 auto;
    text-align: center;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#inv-display div {
    width: 100%;
}

ul {
    list-style: none;
}

hr {
    grid-column: 1 / -1;
    width: 100%;
}

/* Search Results Styles */
#countResults {
    grid-column: 1 / -1;
}
#search-display {
    grid-column: 1 / -1;
}
#search-display li{
    border: 1px solid var(--primary-color);
    display: grid;
    grid-template-columns: 200px 1fr;
}
#search-display h2 {
    grid-column: 1 / -1;
}
#search-display span {
    padding-left: 10px;
}
#resultsPages {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
}
@media(min-width: 801px) {
    #vehicleDetails{
        grid-column: 1 / -1;
        align-self: center;
        justify-self: center;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 5px;
    }
    .leftColumn{
        grid-column: 1;
    }
    .rightColumn{
        grid-column: 2;
    }
    #image-display{
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    #image-display li:nth-child(odd){
        justify-self: end;
    }
    #image-display li:nth-child(even){
        align-self: center;
    }
    #vehicleDetailsPage{
        display: grid;
        grid-template-columns: .5fr 1fr 1fr;
    }
    #vehicleDetails{
        grid-column: 2 / -1;
        align-items: center;
        justify-items: center;
    }
    #vehicleDetails img{
        max-width: 100%;
    }
    #vehicleThumbnails{
        grid-column: 1 / 2;
        grid-row: 3;
        align-items: center;
        justify-items: center;
    }
    #vehicleThumbnails {
        justify-self: end;
    }
    #vehicleThumbnails li:hover{
        transform: scale(1.5);
    }
    #additionalImagesThumb {
        display: none;
    }
}


@media (max-width: 800px) {
    #image-display{
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: 1fr;
    }
    img {
        max-width: 80%;
    }
    nav {
        line-height: 2em;
        font-size: 1em;
    }
    #navul {
        list-style-type: none;
        background-color: var(--accent2);
        display: grid;
    }
    nav a {
        color: var(--accent3);
        padding: 1em 5px 1em 5px;
    }
    
    #floatingOrderBox {
        margin-top: -35px;
        margin-left: 1em;
    }

    #upgradesDiv, #reviewsDiv {
        grid-column: 1 / -1;
    }

    #vehicleDetails{
        grid-column: 1 / -1;
        align-self: center;
        justify-self: center;
    }

    #inv-display{
        grid-column: 1 / -1;
        align-self: center;
        justify-self: center;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    
    #inv-display li{
        margin-bottom: .5em;
        border: 1px #ccc solid;
        list-style-type: none;
        flex: 1 1 auto;
    }
    
    #inv-display li img {
        max-width: 100%;
    }

    #vehicleThumbnails {
        grid-column: 1 / -1;
        align-self: center;
        justify-self: center;
    }
    #vehicleThumbnails li {
        padding: 0;
    }
    #additionalImagesThumb {
        grid-column: 1 / -1;
        display: block;
    }
}